html, body {
  background-image: url("images/memphis-colorful.png");
  background-color: rgba(8, 11, 22, 0.95);
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.background-switcher {
  width: 100%;
  height: 100%;
  background-color: rgba(8, 11, 22, 0.95);
  margin: 0 auto;
}

.main-title {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  display: table;
  vertical-align: middle;
  height: 100vh;
  width: 100%;
}

.main-title-middle {
  display: table-cell;
  vertical-align: middle;
}

.main-title-inner p {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 5vh;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
}

.main-title p:after {
  content: "|";
  opacity: 0;
  animation: cursor 1s infinite;
  color: #f2f5fc;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.reserved-word {
  color: #690682;
}

.code {
  color: #f2f5fc;
}

.string {
  color: #058220;
}

.about-me {
  background-color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 5px 5px 5px black;
  word-wrap: break-word;
  width: 80%
}

.about-me-article {
  padding: 45px;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  line-height: 1.5;
  box-sizing: border-box;
  color: #24292e;
}

.about-me-article h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0.67em 0;
  box-sizing: border-box;
}

.about-me-article p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 16px;
}

.about-me h3 {
  display: block;
  padding: 9px 10px 10px;
  margin: 0;
  line-height: 17px;
  background-color: #f6f8fa;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
}

.profile-pic {
  width: 12vw;
  margin: 0 auto;
  margin-top: 64px;
  text-align: center;
}

.profile-pic img {
  display: block;
  width: 100%;
}

.apps {
  padding: 45px;
  margin: 0 auto;
  margin-top: 80px;
  color: #E6E8ED;
  font-family: 'Roboto', sans-serif;
  width: 80%;
  font-weight: 300;
  line-height: 1.5;
}

.apps-info-container {
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
  position: relative;
  min-height: 195px;
  display: block;
}

.apps-img-container {
  margin: 25px 25px 28px 25px;
  float: none;
  display: inline-block;
  white-space: nowrap;
  text-align: left;
  box-shadow: none;
}

.apps-img-container img {
  width: 10vh;
  vertical-align: middle;
}

.apps-info-box-top {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  width: 465px;
  min-height: 200px;
  padding-bottom: 65px;
  box-sizing: border-box;
}

.apps h1 {
  font-size: 6vh;
  text-align: center;
  margin-bottom: 80px;
}

.apps h2 {
  font-size: 4vh;
  margin: 25px 30px 10px 0;
  font-weight: 300;
  line-height: 35px;
  white-space: normal;
  box-sizing: border-box;
}

.apps-button-conatiner {
  background-color: #689f38;
  border-radius: 4px;
}

.apps-button-install {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-user-select: none;
  background-color: #689f38;
  color: #737373;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 36px;
  line-height: 34px;
  min-width: 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle
}

.apps-button-install:hover {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.27);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.27);
  background-color: #8bc34a;
  color: #333;
  cursor: pointer
}

.apps-button-install:active {
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.27);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.27);
  background-color: #33691e;
}

.apps-button-install button {
  display: block;
  padding: 0 20px;
  cursor: pointer;
  color: #fff;
  outline: none;
  align-items: initial;
  background: none;
  box-sizing: initial;
  border: 0;
  font: inherit;
  margin: 0;
  text-align: inherit;
}

.sdp-pic {
  width: 30%;
  margin: 0 auto;
}

.sdp-pic img {
  display: block;
  width: 100%;
}

.footer {
  min-height: 25vh;
}
