html, body {
  background-color: #0F292F;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.background-switcher {
  width: 100%;
  height: 100%;
  background-color: #0F292F;
  margin: 0 auto;
}

.main-title {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  display: table;
  vertical-align: middle;
  height: 100vh;
  width: 100%;
}

.main-title-middle {
  display: table-cell;
  vertical-align: middle;
}

.main-title-inner p {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 4vh;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
}

.main-title-inner h1 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 3vh;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
}

.main-title p:after {
  content: "|";
  opacity: 0;
  animation: cursor 1s infinite;
  color: #f2f5fc;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.reserved-word {
  color: #51213A;
}

.code {
  color: #139F97;
}

.comment {
    color: #CCCCCC;
}

.string {
  color: #CC2D6E;
}

.profile-pic {
  min-width: 160px;
  width: 24vw;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 64px;
  text-align: center;
}

.profile-pic img {
  display: block;
  width: 100%;
}

.about-me {
  background-color: #139F97;
  font-family: 'Source Code Pro', monospace;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 5px 5px 5px black;
  word-wrap: break-word;
  width: 80%
}

.about-me h3 {
  display: block;
  padding: 9px 10px 10px;
  margin: 0;
  line-height: 17px;
  background-color: #CCCCCC;
  border: 1px solid #CCCCCC;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  color: #51213A;
}

.about-me-article {
  padding: 32px;
  word-wrap: break-word;
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  line-height: 1.5;
  box-sizing: border-box;
  color: #0F292F;
}

.about-me-article p {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 16px;
}

.apps {
  margin: 0 auto;
  margin-top: 80px;
  font-family: 'Source Code Pro', monospace;
  width: 100%;
  font-weight: 300;
  line-height: 1.5;
}

.apps h1 {
  vertical-align: middle;
  width: 80%;
  margin: 0 auto;
  color: #CC2D6E;
  font-size: 8vh;
  text-align: left;
  font-family: 'Roboto', sans;
}

.apps li{
  font-size: 1.1em;
  padding-bottom: 16px;
}

.apps-button-container {
  background-color: #689f38;
  border-radius: 4px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.apps-button-install {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-user-select: none;
  background-color: #689f38;
  color: #737373;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 36px;
  line-height: 34px;
  min-width: 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle
}

.apps-button-install:hover {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.27);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.27);
  background-color: #8bc34a;
  color: #333;
  cursor: pointer
}

.apps-button-install:active {
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.27);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.27);
  background-color: #33691e;
}

.apps-button-install button {
  display: block;
  padding: 0 20px;
  cursor: pointer;
  color: #fff;
  outline: none;
  align-items: initial;
  background: none;
  box-sizing: initial;
  border: 0;
  font: inherit;
  margin: 0;
  text-align: inherit;
}

.apps-project-divider {
  min-height: 24vh;
}

.sdp {
  padding: 45px;
  color: #FFFFFF;
  background-color: #0C73AC;
  font-family: 'Nunito', sans-serif;
}

.sdp h2{
  font-size: 3em;
  margin: 32px 0 32px 0;
  font-weight: 300;
  box-sizing: border-box;
}

.sdp h3{
  font-size: 2em;
  font-weight: 250;
}

.sdp-content {
  margin-top:48px;
  overflow: hidden;
}

.sdp-content img {
  float:left;
  width: 25%;
  min-width: 320px;
  margin-right: 48px;
}

.hse {
  padding: 45px;
  color: #FFFFFF;
  margin-top: 80px;
  background-color: #081f3e;
  font-family: 'Source Sans Pro', sans-serif;
}

.hse h2{
  font-size: 3em;
  margin: 32px 0 32px 0;
  font-weight: 300;
  box-sizing: border-box;
  color: #ff3c28;
}

.hse h3{
  font-size: 2em;
  font-weight: 250;
  color: #ff3c28;
}

.hse-content {
  margin-top:48px;
  overflow: hidden;
}

.hse-content img {
  float:left;
  width: 20%;
  min-width: 320px;
  margin-right: 48px;
}

.certifications{
  width:100%;
  background-color: #51213A;
  padding-bottom: 48px;
}

.certifications-content{
  margin: 0 auto;
  padding-top: 64px;
}

.certifications-content h1{
  font-family: 'Roboto', sans;
  margin: 0 auto;
  margin-bottom: 64px;
  width: 80%;
  color: #139F97;
  font-size: 4em;
}

.certifications-img-container {
  width: 90%;
  margin: 0 auto;
}

.certifications-img-container span{
    display:inline-block;
    width:30%;
    text-align:center;
    vertical-align: middle;
}

.certifications-img-container img{
    width: 10vh;
}

.footer {
  color: #CCCCCC;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.5em;
  line-height: 12vh;
  min-height: 12vh;
  padding: 16px;
  text-align: center;
  vertical-align: middle;
}

.footer a{
  color: #139F97;
}
