html, body {
  background-image: url("images/memphis-colorful.png");
  margin: 0;
  padding: 0;
}

.background-switcher {
  width: 100%;
  height: 100%;
  background-color: rgba(8, 11, 22, 0.95);
  margin: 0 auto;
  float: center;
}

.main-title {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 2.5vw;
  text-align: center;
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.main-title:after {
  content:"|";
  opacity: 0;
  animation: cursor 1s infinite;
  color: #f2f5fc;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.reserved-word {
  color: #690682;
}

.code {
  color: #f2f5fc;
}

.string {
  color: #058220;
}

.section {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  color: #f2f5fc;
}

.section-title {
  font-family: 'Roboto Slab', serif;
  font-size: 2vw;
  font-weight: normal;
  text-align: center;
  padding: 30px 0;
  color: #f2f5fc;
  border-top: 1px solid #f2f5fc;
  border-bottom: 1px solid #f2f5fc;
  width: 100%;
  clear: both;
}

.subsection-title {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  padding: 30px 0;
  width: 100%;
  clear: both;
}

.about-me {
  background-color: #FFFFFF;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 5px 5px 5px black;
  word-wrap: break-word;
  width: 80%
}

.about-me-article {
  padding: 45px;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  line-height: 1.5;
  box-sizing: border-box;
  color: #24292e;
}

.about-me-article h1 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0.67em 0;
  box-sizing: border-box;
}

.about-me-article p {
  margin-top: 0;
  margin-bottom: 16px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.about-me h3 {
  display: block;
  padding: 9px 10px 10px;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  background-color: #f6f8fa;
  border: 1px solid rgba(27,31,35,0.15);
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
}

.profile-pic {
  width: 12vw;
  margin: 0 auto;
  text-align: center;
}

.profile-pic img {
  display: block;
  width: 100%;
}

.sdp-pic {
  width: 20vw;
  margin: 0 auto;
}

.sdp-pic img {
  display: block;
  width: 100%;
}

.sdp {
  padding: 16px;
  color: #3497D3;
  background-color: rgba(236, 239, 248, 0.95);
  font-size: 1vw;
  width: 50vw;
  box-shadow: 10px 10px 10px black;
}

.sdp table {
  width: 40vw;
}